.cantidad-c{
    display: inline;
  }
  
  .carrito{
    margin: 0.2rem 0;
    padding: 0;
    filter: invert();
    width: 1.3rem;
    height: 1.3rem;
  }
  
  .cantidad-c{
    font-size: 0.7rem;
    padding: 0 0.27rem;
    background-color: #e21e1e;
    border-radius: 20rem;
    color:white;
  }