.container-contador{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 6rem;
    height: 1rem;
    margin-right: 0.8rem;
}

.img-laptop{
    width: 9rem;
}

.button{
    height: 1.3rem;
    background-color: rgba(148, 24, 243, 0.556);
    border-radius: 5px;
    border-color: rgba(240, 255, 255, 0.405);
    cursor: pointer;
}

.card-laptop{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 15rem;
    box-shadow: 0.5px 0.5px 20px 0.2px rgb(143, 143, 143);
}

.boton{
    border: solid;
    background-color: rgba(131, 23, 225, 0.297);
    border: solid rgba(135, 135, 135, 0.423);
    border-radius: 0.8rem;
    height: 2rem;
    cursor: pointer;
}