.container-contador{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(255, 255, 255, 0);
    width: 6rem;
    height: 1rem;
    margin: 0 0 7rem 0.8rem;
    
}

.nombre{
    margin-top: -0.1rem;
}

.precio{
    margin-top: -1.1rem;
    font-size: 1rem;
}

.img-dona{
    margin-top: -1.8rem;
    width: 8rem;
    border: solid aqua;
    border-radius: 20rem;
}

.button{
    height: 1.3rem;
    background-color: rgba(24, 207, 243, 0.556);
    border-radius: 5px;
    border-color: rgb(0, 255, 255);
    cursor: pointer;
}

.card-donut{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 15rem;
    box-shadow: 0.5px 0.5px 20px 0.2px rgb(143, 143, 143);
    background-color: rgb(255, 209, 242);
    border-radius: 10px;
}