.NavBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(250, 193, 232);
    box-shadow: 1px 1px 100px black;
}

.inicio{
    margin-left: 1rem;
}

.name-logo{
    /* position: absolute;
    margin: -0.5rem 0 0 -72rem; */
    color: rgb(205, 112, 255);
    font-size: 0.7rem;
    font-style:oblique;
    font-family:fantasy;
    text-decoration: none;
    padding: 2.1rem 0 0 0;
}

.MenuNav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    
}

.nav{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 240);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav:hover{
    color: rgb(83, 249, 255);
    transition: 0.3s;
}

.slach{
    color: rgba(255, 255, 255, 0);
}

.login{
    background-color: rgba(255, 255, 255, 0.444);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 0.37rem;
}

.login:hover{
    background-color: rgba(122, 224, 250, 0.444);;
    border-color: rgb(83, 249, 255); 
}

.create{
    color:  rgb(255, 0, 212);
    font-size: 1.1rem;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    border-radius: 200rem;
    margin: -0.6rem -2rem 0 -3rem; 
    height: 7vmin;
    border: solid 3px rgb(253, 125, 232);
    cursor: pointer;
  }
  
  .App-logo:hover{
    border: solid 3px rgb(83, 249, 255);
    border-radius: 20rem;
  }
  

.MenuNav li ul {
    display:none; 
    background-color: rgb(250, 193, 232);
    border-radius: 0.2rem;
    border: solid rgb(83, 249, 255);
    color: white;
    padding: 0.8rem 1.6rem 0.6rem;
    position:absolute;
    top: 2.9rem;
    min-width:140px;
   
}

.MenuNav li:hover ul {
    display:block;
}

.MenuNav li ul a:hover {
    color:  rgb(83, 249, 255);
    transition: 0.3s;
}

.sub-produ{
    text-decoration: none;
    color: white;
}

.cantidad-c{
  display: inline;
}

.carrito{
  margin: 0.2rem 0;
  padding: 0;
  filter: invert();
  width: 1.3rem;
  height: 1.3rem;
}

.cantidad-c{
  font-size: 0.7rem;
  padding: 0 0.27rem;
  background-color: #e21e1e;
  border-radius: 20rem;
  color:white;
}

.portada{
  margin: -4.4rem 0 3.5rem 0;
  width: 100%;
}